<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Java"/>
      </watched>
      <dir
        name="activities"/>
      <dir
        name="adapters"/>
      <dir
        name="cast"/>
      <dir
        name="dataloaders"/>
      <dir
        name="dialogs"/>
      <dir
        name="fragments"/>
      <dir
        name="helpers"/>
      <dir
        name="lastfmapi">
        <dir
          name="callbacks"/>
        <dir
          name="models"/>
      </dir>
      <dir
        name="listeners"/>
      <dir
        name="models"/>
      <dir
        name="nowplaying"/>
      <dir
        name="permissions"/>
      <dir
        name="provider"/>
      <dir
        name="slidinguppanel"/>
      <dir
        name="subfragments"/>
      <dir
        name="timely">
        <dir
          name="animation"/>
        <dir
          name="model">
          <dir
            name="core"/>
          <dir
            name="number"/>
        </dir>
      </dir>
      <dir
        name="transition"/>
      <dir
        name="utils"/>
      <dir
        name="widgets">
        <dir
          name="desktop"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    use_spring="false"
    version="Java5"/>
</project>
